@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 0.5vw;
}
html::-webkit-scrollbar-track{
    background: #2B2B2B;
}
html::-webkit-scrollbar-track:hover{
    background: #303030;
}
html::-webkit-scrollbar-thumb{
    background:#ffac473e;
    border-radius: 20px;
}
html::-webkit-scrollbar-thumb:hover{
    background:#ffac47;
    border-radius: 20px;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid #ffac47;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    pointer-events: none;
}


body{
    background-color: #1D1D1D;
    color: rgb(229, 229, 229);
    padding: 30px;
}

/* navbar */

nav{
    background-color: #2B2B2B;
    padding: 0.6rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-radius: 5px;
}
nav p{
    font-size: 1.5rem;
}
nav p span{
    color: #FFAD47;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 15px;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.navbtn{
    background-color:#FFAD47;
    border-radius: 5px;
}
.navbtn:hover{
    background-color:#ff9a1e;
}
.navbtn a{
    color: #2B2B2B;
}
.navbtn a:hover{
    color: #2B2B2B;
}

nav ul li a:hover{
    color: #ffd29a;
}


/* main section */

.mainSection{
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHeading{
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.mainSection > div{
    width:100%;
}

.mainHeading span{
    color: #ffac47;
}
